@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;800&display=swap");

$background: #ffffff;
$color-gray: rgba(0, 0, 0, 0.6);
$color-accent: #00fed8;
$color-red: #f20089;
html {
  width: 100vw;
  min-height: 100%;
}

body {
  background: $background;
  font-family: "Raleway", sans-serif;
  color: $color-gray;
  padding: 0;
  margin: 0;
}

section {
  margin-bottom: 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;

  img {
    flex: 1;
    height: 100%;
    margin-top: 36px;
  }

  .header-text {
    flex: 1;
    margin: 0;
    color: white;
    font-size: 3.5vw;
    padding: 2px 0;
    margin: 20px auto;
    text-align: right;

    p {
      font-size: 1.2rem;
      color: $color-red;
      font-weight: 800;
      line-height: 1.5rem;
    }
    span {
      line-height: 5vw;
      background-color: $color-red;
      color: #fff;
      display: inline;
      padding: 0.45rem;
      font-weight: 800;
      box-decoration-break: clone;

      @media (max-width: 768px) {
        line-height: 1.6rem;
      }
    }
  }
}

.title {
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
  span {
    color: black;
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
    display: inline;
    font-weight: 600;
    padding: 8px 16px;
    background: linear-gradient(to top, $color-accent 50%, transparent 50%);
  }
}

.button {
  padding: 8px;
  margin: 0 8px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid #000000;
  color: #000000;
  background: $background;
  outline: none;
  cursor: pointer;

  &.default {
    &:hover,
    &:focus,
    &:active {
      background: $color-accent;
    }
  }

  &.color {
    position: relative;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    &.exclude::after {
      position: absolute;
      top: 3px;
      left: 5px;
      padding: 0 !important;
      margin: 0 !important;
      color: $color-accent;
      content: "✕";
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $color-accent;
    }
  }

  &.active {
    background: $color-accent;
  }
}

.tag-badge {
  background: $color-red;
  padding: 4px 8px;
  margin-right: 16px;
  font-size: 0.5rem;
  color: #fff;
  text-transform: uppercase;
}

.img-white-bg {
  filter: saturate(1.35) contrast(1.2);
  position: relative;

  &:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(127, 187, 227, 0.2);

    mix-blend-mode: overlay;
  }
}

.card-table {
  margin: 1rem 0;
  box-shadow: 3px 3px 10px 0 rgba(217, 210, 200, 0.51),
    -3px -3px 10px 0 rgba(255, 255, 255, 0.83);

  .card-table-header {
    padding: 1rem;
    text-transform: uppercase;
  }
}
.table-price {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    text-align: left;
    color: $color-gray;
    border-color: #e9ecef;
    background-color: #f6f9fc;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 0.5rem;
    font-weight: 600;

    th {
      padding: 0.5rem 1rem;
    }
  }

  tbody {
    text-align: left;

    td {
      padding: 1rem;
    }
  }
}

footer {
  color: $color-red;
  background-color: $color-accent;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
